NODE_ENV=development

PORT=3000

MONGODB_URI=

DB_NAME=careConnect

SESSION_SECRET=

JWT_SECRET=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL_LOCAL=http://localhost:3000/api/auth/google/callback

GOOGLE_CALLBACK_URL_PRODUCTION=